<ion-view view-title="Home">
    <ion-content class="no-header">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="slide"></div>
            </ion-slide>
            <ion-slide>
                <div class="slide"></div>
            </ion-slide>
            <ion-slide>
                <div class="slide"></div>
            </ion-slide>
        </ion-slide-box>
        <div class="slider-top"><h1>Enschede</h1></div>
        <div class="list">
            <div class="item item-divider">
                Populair in de buurt
            </div>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
        </div>
    </ion-content>
</ion-view>
